:root {
  --size: 22.5%;
}

* {
  margin: 0%;
  padding: 0%;
  text-decoration: none;
  font-family: "roboto";
}

body::-webkit-scrollbar {
  display: none;
}

header {
  height: 16vw;
}

header li,
a {
  display: inline-block;
  color: white;
  font-size: 1.2vw;
}

.headerTop {
  position: relative;
  height: var(--size);
  background-color: rgb(32, 30, 30);
}

.headerTop ul {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: flex-end;
  align-items: center;
}

.headerTop li {
  margin: 0% 2%;
}

.headerMiddle {
  display: flex;
  height: 55%;
  background-color: rgb(141, 141, 141);
  align-items: center;
}

.logo {
  position: relative;
  display: inline-block;
  left: 1vw;
  width: 20vw;
  height: 10vw;
  margin-right: 3%;
  align-self: flex-end;
  bottom: 5%;
}

.logo img {
  z-index: 1;
  width: 100%;
  height: 100%;
  border-radius: 10%;
}
.menyButton {
  position: relative;
  display: flex;
  margin-left: 1%;
  width: 8%;
  height: 100%;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
}

.menyButton img {
  width: 80%;
  height: 50%;
  margin-bottom: 5%;
}

.menyButton p {
  display: block;
  width: fit-content;
  color: whitesmoke;
  font-weight: 1000;
}

#searchBar {
  position: relative;
  display: flex;
  width: 28%;
  height: 45%;
  margin-left: 4%;
  align-items: center;
}

#searchBar input {
  width: 100%;
  height: 100%;
  outline: none;
  border: none;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  padding-left: 10px;
}

#searchBar button {
  display: inline-block;
  width: 15%;
  height: 100%;
  padding: 8px;
  outline: none;
  border: none;
  font-size: 2vw;
  text-align: center center;
}

#kassa {
  height: 45%;
  width: 20%;
  background-color: blue;
  margin-left: 1%;
  margin-right: 1%;
}

.headerBottom {
  display: flex;
  height: var(--size);
  background-color: rgb(32, 30, 30);
  justify-content: space-between;
  align-items: center;
}

.headerBottom ul {
  display: flex;
  height: 100%;
  width: 50%;
  justify-content: space-around;
  align-items: center;
}

.headerBottom ul li {
  display: flex;
  height: 100%;
  padding: 0% 2%;
  align-items: center;
}

.headerBottom ul li:hover {
  background-color: blue;
}

.headerBottom a {
  margin-left: 4%;
  text-align: center center;
}

.headerBottom li {
  font-weight: 100;
}

.headerBottom .last {
  display: inline-block;
  margin-right: 1%;
  background-color: rgb(230, 65, 65);
  padding: 0.75% 3%;
  border-radius: 30% 50px;
}

.headerBottom .last:hover {
  color: black;
}

/* här slutar header */

.content {
  width: 99vw;
  transform: translateX(0.5vw);
}

.kampanj {
  display: flex;
  overflow: hidden;
  border-bottom-left-radius: 2vw;
  border-bottom-right-radius: 2vw;
}

.kampanj img {
  animation: mymove 9s infinite alternate;
  width: 100%;
  height: 63vh;
}

@keyframes mymove {
  0% {
    transform: translateX(0%);
  }

  45% {
    transform: translateX(0%);
  }

  50% {
    transform: translateX(-100%);
  }

  55% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(-100%);
  }
}

.kampanj2 {
  display: flex;
  justify-content: space-between;
  height: 31vh;
  margin-top: 3vh;
}

.kampanj2 img {
  width: 49%;
  border-radius: 2vw;
}

.block {
  display: flex;
  height: 7vh;
  background-color: black;
  color: white;
  margin: 2.5vh 0%;
  border-radius: 0.5vw;
  align-items: center;
}

.block p {
  margin-left: 2%;
}

.produkt-container {
  display: grid;
  grid-template: 1fr / repeat(4, 25%);
}

.produkt {
  margin: 0 4%;
  height: 95%;
  border-radius: 0.5vw;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition: 0.1s;
  color: black;
  align-self: center;
}

.produkt:hover {
  box-shadow: 0 4px 8px 0 rgba(44, 253, 62, 0.507), 0 6px 20px 0 rgba(44, 255, 114, 0.356);
  transition: 0.1s;
}

.produkt img {
  height: 72%;
  width: 100%;
  border-top-left-radius: 0.5vw;
  border-top-right-radius: 0.5vw;
}

.produkt-name {
  font-size: 1.5vw;
  text-decoration: underline;
  margin-left: 4%;
}

.produkt-description {
  margin-left: 4%;
  font-size: 1vw;
  margin-top: 2%;
}

.cont {
  display: flex;
  width: 90%;
  transform: translateX(5%);
  align-items: center;
  justify-content: space-between;
  margin-top: 6%;
}

div .button {
  display: inline-block;
  padding: 2%;
  background-color: rgb(22, 180, 22);
  color: white;
  border-radius: 10%;
  transition: 0.2s;
}

.button:hover {
  background-color: rgb(30, 255, 30);
  transition: 0.2s;
}

.produkt div p {
  text-align: center;
}

.pris {
  display: inline-block;
  font-size: 2vw;
  font-weight: 900;
}

footer {
  height: 50vh;
  background: orange;
}

/* produktsida */

.produkt-article {
  display: grid;
  grid-template: 4% 96% / 50% 50%;
  border: groove;
  border-radius: 1vw;
  padding: 5%;
  background-color: orange;
  margin: 1.5% 0;
  height: 1000px;
}

h1 {
  grid-area: 1 / 1 / 1 / 3;
}

.left-side {
  grid-area: 2 / 1 / 3 / 1;
}

.produkt-bild {
  width: 98%;
}

.produkt-bild img {
  width: 100%;
  height: 65vh;
}
